body {
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .videoContainer {
        width: 320px;
        height: 180px;
    }

    .danmukuSend {
        width: 320px;
    }
}

@media screen and (min-width: 600px) {
    .videoContainer {
        width: 640px;
        height: 360px;
    }

    .danmukuSend {
        width: 640px;
    }
}

@media screen and (min-width: 900px) {
    .videoContainer {
        width: 720px;
        height: 480px;
    }

    .danmukuSend {
        width: 720px;
    }
}

@media screen and (min-width: 1400px ) {
    .videoContainer {
        width: 1280px;
        height: 720px;
    }

    .danmukuSend {
        width: 1280px;
    }
}

.videoContainer {
    position: relative;
}

#videoContainer {
    margin: auto;
}

#video {
    width: 100%;
    height: 100%;
    position: absolute;
}

#danmukuCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
}

.danmukuSend {
    margin: auto;
    margin-top: 5px;
    position: relative;
}